---
layout: default
---
<div class="container">
    <div class="alert alert-danger">
        <strong>自动投标</strong>为一款自动化投资<a href="https://www.ppdai.com/help/aboutus" target="_blank">拍拍贷</a>散标的应用，目前已停止更新和维护。网站仅用于本应用的介绍及数据的展示。<a href="/announcements/2019/08/27/project-discontinued/">详情 &raquo;</a>
    </div>
    <div class="jumbotron bg-light">
        <h1>{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>
        <a class="btn btn-primary" href="/about/">了解更多 &raquo;</a>
    </div>
</div>
